registry=https://mirror-npm.runflare.com
public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
public-hoist-pattern[]=@internationalized/date
public-hoist-pattern[]=@react-aria/*
public-hoist-pattern[]=@react-stately/*